# Ignorar diretórios do Android Studio e Gradle
.idea/
.gradle/
local.properties
*.iml

# Ignorar pastas de build
/build/
.cxx/
.externalNativeBuild/
captures/
*.log
*.lock

# Ignorar arquivos do core-ui
core-ui/res/
core-ui/src/main/AndroidManifest.xml

# 🛑 Ignorar diretórios de build e cache
app/build/
core-ui/build/